{% extends 'loginform.html' %}


{% block Register %}
<h1 style="text-align: center; margin-top: 40px;">Registration is currently disabled</h1>
<div style="text-align: center; width: 100%; margin-left: auto; margin-right: auto;">
<a href="/" style="font-size: 2rem; text-decoration: none; margin-top: 15px;">Home</a>
</div>
<div class="login-form">
    <h1>Register</h1>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="username" class="form-control" id="username" name="username" disabled>
            </div>
            <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" disabled>
        </div>
        <button type="submit" class="btn btn-primary" value="Login" disabled>Disabled</button>
    </form>
</div>
<style>

</style>
{% endblock %}
